<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Tombol untuk kembali ke halaman sebelumnya -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Favorite Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Mengiterasi observables favoriteMovies$ dan menampilkan setiap film -->
    <ion-item *ngFor="let movie of favoriteMovies$ | async">
      <!-- Menggunakan komponen app-movie-card untuk menampilkan detail film -->
      <app-movie-card [movie]="movie"></app-movie-card>
    </ion-item>
  </ion-list>
</ion-content>
