<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ movie ? movie.title : 'Loading Film...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
  <ion-img
    [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path"
  ></ion-img>

  <main class="ion-padding-horizontal">
    <section class="header">
      <p><i>{{movie.tagline}}</i></p>
      <h1>{{movie.title}}</h1>
      <p *ngIf="movie.original_title !== movie.title">
        {{movie.original_title}}
      </p>
      <p>{{movie.release_date | date}}</p>
      <span class="rating">
        <ion-icon *ngFor="let star of stars" [name]="star"></ion-icon>
        {{ movie.vote_average / 2 }}
      </span>
    </section>

    <section>
      <p>{{movie.overview}}</p>
    </section>

    <section>
      <ion-chip color="warning" *ngFor="let genre of movie.genres">
        <ion-label>{{genre.name}}</ion-label>
      </ion-chip>
    </section>

    <section class="action">
      <ion-button
        fill="{{ isWatched ? 'solid' : 'outline' }}"
        color="primary"
        (click)="addToWatchedMovies(movie)"
      >
        <ion-icon slot="start" name="eye-outline"></ion-icon>
        {{ isWatched ? 'Remove from Watched Movies' : 'Add to Watched Movies' }}
      </ion-button>
      <ion-button
        fill="{{ isFavorite ? 'solid' : 'outline' }}"
        color="primary"
        (click)="addToFavoriteMovies(movie)"
      >
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        {{ isFavorite ? 'Remove from Favorite Movies' : 'Add to Favorite Movies'
        }}
      </ion-button>
      <ion-button
        fill="{{ isWatchlist ? 'solid' : 'outline' }}"
        color="primary"
        (click)="addToWatchlist(movie)"
      >
        <ion-icon slot="start" name="list-outline"></ion-icon>
        {{ isWatchlist ? 'Remove from Watchlist' : 'Add to Watchlist' }}
      </ion-button>
    </section>
  </main>
</ion-content>
