.action {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    ion-icon {
      margin: auto 0.5rem;
      font-size: 1.5rem;
    }
  }
}
