<div class="movie-card">
  <ion-img
    class="img"
    src="{{
      movie.poster_path
        ? 'https://image.tmdb.org/t/p/original' + movie.poster_path
        : 'https://via.placeholder.com/90x150/eee?text=No Image'
    }}"
    [routerLink]="['/film', movie.id]"
  ></ion-img>
  <section class="details ion-padding-start">
    <h1 class="ion-no-margin" [routerLink]="['/film', movie.id]">
      {{ movie.title }}
    </h1>
    <p class="release">{{ movie.release_date | date }}</p>
    <p class="ion-no-margin">
      {{ movie.vote_average }}
      <ion-icon name="star"></ion-icon>
    </p>
    <section>
      <ion-button
        fill="outline"
        title="Add to Watched Movies"
        (click)="addToWatchedMovies(movie)"
        color="{{ isWatched ? 'danger' : 'medium' }}"
      >
        <ion-icon
          name="{{ isWatched ? 'add-circle' : 'add-circle-outline' }}"
        ></ion-icon>
      </ion-button>
      <ion-button
        fill="outline"
        title="Add to Favorites"
        (click)="addToFavoriteMovies(movie)"
        color="{{ isFavorite ? 'danger' : 'medium' }}"
      >
        <ion-icon
          name="{{ isFavorite ? 'heart' : 'heart-outline' }}"
        ></ion-icon>
      </ion-button>
      <ion-button
        fill="outline"
        title="Add to Watchlist"
        (click)="addToWatchlist(movie)"
        color="{{ isWatchlist ? 'danger' : 'medium' }}"
      >
        <ion-icon
          name="{{ isWatchlist ? 'bookmark' : 'bookmark-outline' }}"
        ></ion-icon>
      </ion-button>
    </section>
  </section>
</div>
