.movie-card {
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    aspect-ratio: 9/16;
    height: 200px;
  }
  h1 {
    cursor: pointer;
    font-size: clamp(24px, 2.5vw, 44px);
  }
}
.release {
  margin: 0.2rem 0;
  opacity: 0.7;
}
p.ion-no-margin {
  ion-icon {
    margin-bottom: -0.1rem;
  }
}
