<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="movies">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label>Movies</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

<!-- 
  TODO: PAGES
  - Home: Show trending movies
  - Search: Search for movies
  - Movie: Show movie details
  - Settings: Show settings
  - Profile: Show User Movies

  TODO: Movie Page
  - Show movie poster
  - Show movie title
  - Show movie rating
  - Show movie release date
  - Show movie overview
  - Show movie genres
  - Show movie runtime
  - Show movie tagline

  TODO: Settings Page
  - Show user name
  - Show user email
  - Show user avatar

  Todo: Profile Page
  - Show user movies
  - Show user favorites
  - Show user watchlist

  Todo: Search Page
  - Show search results
  - Show search suggestions
  - Show search history

-->
