<ion-header>
  <ion-toolbar>
    <ion-title>All Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movies$ | async as movies">
  <div *ngIf="!movies.length" class="error-message-container">
    <p *ngIf="!isOffline">An error occurred. Please try again later.</p>
    <p *ngIf="isOffline">Please Check Your Internet Connection.</p>
  </div>
  <ion-list *ngIf="movies.length">
    <ion-item *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
