<ion-header>
  <ion-toolbar>
    <ion-title
      style="
        color: #e90074;
        display: inline-block;
        vertical-align: middle;
        flex: 1;
        text-align: center;
      "
      >All Movies</ion-title
    >
    <ion-img
      src="https://ik.imagekit.io/elgibran/kisspng-lizard-reptile-chameleons-casa-logo-5b4ac5c57728a9.4286608215316269494881-removebg-preview.png?updatedAt=1719900505186"
      style="
        width: 30px;
        height: auto;
        margin-left: -10px;
        display: inline-block;
        vertical-align: middle;
      "
    ></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movies$ | async as movies">
  <div *ngIf="!movies.length" class="error-message-container">
    <p *ngIf="!isOffline">An error occurred. Please try again later.</p>
    <p *ngIf="isOffline">Please Check Your Internet Connection.</p>
  </div>
  <ion-list *ngIf="movies.length">
    <ion-item *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

