<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list
    *ngIf="{ watched: watched$ | async, favorite: favorite$ | async, wl: watchlist$ | async, notes: notes$ | async } as data"
  >
    <ion-item routerLink="./watched">
      <ion-icon color="light" name="eye-outline" class="decoration"></ion-icon>
      <ion-label class="ion-margin-horizontal">
        <h1>Watched Movies</h1>
        <p>{{ data.watched.length }} Films</p>
      </ion-label>
      <ion-icon
        *ngIf="!platform.is('ios')"
        color="medium"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-item>
    <ion-item routerLink="./favorite">
      <ion-icon
        color="light"
        name="heart-outline"
        class="decoration"
      ></ion-icon>
      <ion-label class="ion-margin-horizontal">
        <h1>Favorite Movies</h1>
        <p>{{ data.favorite.length }} Films</p>
      </ion-label>
      <ion-icon
        *ngIf="!platform.is('ios')"
        color="medium"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-item>
    <ion-item routerLink="./watchlist">
      <ion-icon color="light" name="list-outline" class="decoration"></ion-icon>
      <ion-label class="ion-margin-horizontal">
        <h1>My Watchlist</h1>
        <p>{{ data.wl.length }} Films</p>
      </ion-label>
      <ion-icon
        *ngIf="!platform.is('ios')"
        color="medium"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-item>
    <ion-item routerLink="./notes">
      <ion-icon
        color="light"
        name="create-outline"
        class="decoration"
      ></ion-icon>
      <ion-label class="ion-margin-horizontal">
        <h1>My Notes</h1>
        <p>{{ data.notes.length }} Notes</p>
      </ion-label>
      <ion-icon
        *ngIf="!platform.is('ios')"
        color="medium"
        name="arrow-forward-outline"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
