@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-background-color: #212529;
  --ion-text-color: #212529;
  --ion-tab-bar-color: #212529;
  --ion-toolbar-background: #343a40;
  --ion-tab-bar-background: #343a40;
  // --ion-tab-bar-color-selected: #cf3c4f;
  --ion-tab-bar-color-selected: #e90074;
  --ion-item-border-color: #343a40;
}
